.center_form{
            position:absolute;
            width:500px;
            height:300px;
            left:45%;
            top:35%;
            margin-left:-100px;
            margin-top:-100px;
        }
.dropdown-button{
width:500px;
}

.for_tour_search{
 margin-left:30px;
}

.for_header_btn{
margin-top:10px;
}

.tour_photo{
width:300px;
height:200px;
}
