<div class="container">
    <h1 class="page-name">Tours</h1>

    <input class="btn btn-success" *ngIf="isNewTour == false && editing == false"
    type="button" value="Show/close searching tours" (click)="editSearhing()" /><br>

    <div *ngIf="isSearching == true">
            <table class="for_tour_search">
        <tr>
                <td><span>Min cost</span><br>
                    <input type="number" [(ngModel)]="tourForm.minCost" class="form-control" name="minCost"
                         required #date="ngModel" placeholder="Min cost" />
                         <!-- <div *ngIf="minCost.errors && minCost.dirty"
                        class="alert alert-danger">
                       <div [hidden]="!minCost.errors.required">
                            minCost is required.
                       </div> 
                   </div> -->
                </td>
        
                <td><span> Min duration</span><br>
                        <input type="number" [(ngModel)]="tourForm.minDuration" class="form-control" name="minDuration"
                             required #date="ngModel" placeholder="Min duration" />
                             <!-- <div *ngIf="minDuration.errors && minDuration.dirty"
                            class="alert alert-danger">
                           <div [hidden]="!minDuration.errors.required">
                                minDuration is required.
                           </div> 
                       </div> -->
                </td>
        
                <td><span> Min hotel's stars</span><br>
                        <input type="number" [(ngModel)]="tourForm.minStars" class="form-control" name="minStars"
                         max="5" min="1" required #date="ngModel"  placeholder="Min hotel's stars"/>
                             <!-- <div *ngIf="minStars.errors && minStars.dirty"
                            class="alert alert-danger">
                           <div [hidden]="!minStars.errors.required">
                                minStars is required.
                           </div> 
                       </div> -->
                </td>
        
                <td><span> Min date </span><br>
                        <input type="date" [(ngModel)]="tourForm.minDate" class="form-control" name="minDate"
                             required #date="ngModel" placeholder="Min date" />
                             <!-- <div *ngIf="minDate.errors && minDate.dirty"
                            class="alert alert-danger">
                           <div [hidden]="!minDate.errors.required">
                                minDate is required.
                           </div> 
                       </div> -->
                </td>
                <td><span>Tour type</span><br>
                        <select [(ngModel)]="tourForm.tour_type" class="form-control" name="tour_type" style="width: 200px">
                          <option *ngFor="let tour_type of keys()" [value]="tour_type" >{{tour_type}}</option>
                        </select>
                      
                </td>   
        </tr>
        <tr>
            <td><span>Max cost</span><br>
                <input type="number" [(ngModel)]="tourForm.maxCost" class="form-control" name="maxCost"
                     required #date="ngModel" placeholder="Max cost" />
                     <!-- <div *ngIf="minCost.errors && minCost.dirty"
                    class="alert alert-danger">
                   <div [hidden]="!minCost.errors.required">
                        minCost is required.
                   </div> 
               </div> -->
            </td>
    
            <td><span> Max duration</span><br>
                    <input type="number" [(ngModel)]="tourForm.maxDuration" class="form-control" name="maxDuration"
                         required #date="ngModel" placeholder="Max duration" />
                         <!-- <div *ngIf="minDuration.errors && minDuration.dirty"
                        class="alert alert-danger">
                       <div [hidden]="!minDuration.errors.required">
                            minDuration is required.
                       </div> 
                   </div> -->
            </td>
    
            <td><span> Max hotel's stars</span><br>
                    <input type="number" [(ngModel)]="tourForm.maxStars" class="form-control" name="maxStars"
                         required #date="ngModel"  placeholder="Max hotel's stars"/>
                         <!-- <div *ngIf="minStars.errors && minStars.dirty"
                        class="alert alert-danger">
                       <div [hidden]="!minStars.errors.required">
                            minStars is required.
                       </div> 
                   </div> -->
            </td>
    
            <td><span> Max date </span><br>
                    <input type="date" [(ngModel)]="tourForm.maxDate" class="form-control" name="maxDate"
                         required #date="ngModel" placeholder="Max date"/>
                         <!-- <div *ngIf="minDate.errors && minDate.dirty"
                        class="alert alert-danger">
                       <div [hidden]="!minDate.errors.required">
                            minDate is required.
                       </div> 
                   </div> -->
            </td>
            <td><span>Country</span><br>
                <select class="form-control" name="country"
                [(ngModel)]="tourForm.countryName" style="width: 200px">
                 <option *ngFor="let country of countries" [ngValue]="country.name" >{{country.name}}</option>
               </select>
            </td> 
        </tr>
            </table>
            <button (click)="getToursBySearch(tourForm)" class="btn btn btn-outline-success">Search</button>
    </div>

    <br><input class="btn btn-success" *ngIf="isNewTour == false && editing == false && userService.isAdmin()"
    type="button" value="Add tour" (click)="addTour()" />

    <table class="table table-striped">
        <thead>
            <tr style="color: rgb(25, 102, 15)">
                <th>Photo</th>
                <th style="cursor: pointer" (click)="sort('date')">Date
                    <i class="fas fa-sort" ></i>
                </th>
                <th style="cursor: pointer" (click)="sort('duration')">Duration
                    <i class="fas fa-sort" ></i>
                </th>
                <th>Description</th>
                <th style="cursor: pointer" (click)="sort('cost')">Cost
                    <i class="fas fa-sort" ></i>
                </th>
                <th>Hotel</th>
                <th>Country</th>
                <th style="cursor: pointer" (click)="sort('tour_type')">Tour type
                    <i class="fas fa-sort" ></i>
                </th>
            <!-- <div *ngIf="userService.isAdmin()"> -->
                <th *ngIf="userService.isAdmin()"></th>
                <th *ngIf="userService.isAdmin()"></th>
            <!-- </div> -->
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let tour of tours |  orderBy: key : reverse | paginate: { itemsPerPage: count, currentPage: page }">
                        <ng-template [ngTemplateOutlet]="loadTemplate(tour)" 
                                    [ngTemplateOutletContext]="{ $implicit: tour}">
                        </ng-template>
                </tr>
        </tbody>
    </table>

    <!--Including the pagination control.-->
      <div class="text-right" >
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>

    <!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-tour>
            <td><img src="assets/images/tour_photo.jpg" alt="photo" width="100"/></td>
            <td>{{tour.date}}</td>
            <td>{{tour.duration}}</td>
            <td>{{tour.description}}</td>
            <td>{{tour.cost}}</td>
            <td>{{tour.hotel.name}} {{tour.hotel.stars}}*</td>
            <td>{{tour.country.name}}</td>
            <td>{{tour.tour_type}}</td>
        <!-- <div *ngIf="userService.isAdmin()">     -->
            <td *ngIf="userService.isAdmin()">
                <span class="entity-actions" style="cursor: pointer">
                    <a *ngIf="isNewTour == false" (click)="editTour(tour)">
                        <i class="material-icons edit">edit</i>
                    </a>
                </span>
            </td>
            <td *ngIf="userService.isAdmin()">
                <span class="entity-actions" style="cursor: pointer">
                    <a (click)="deleteTour(tour.id)">
                        <i class="material-icons delete">delete</i>
                    </a>
                </span>
            </td>
        <!-- </div> -->
    </ng-template>

    <!--шаблон для редактирования-->
<ng-template #editTemplate >
                <td><img src="assets/images/tour_photo.jpg" alt="photo" width="100"/></td>
        <td>
            <input type="date" [(ngModel)]="editingTour.date" class="form-control" name="date"
             required #date="ngModel" />
             <!-- <div *ngIf="stars.errors && stars.dirty"
            class="alert alert-danger">
           <div [hidden]="!stars.errors.required">
             stars is required.
           </div> 
       </div> -->
          </td>
        <td>
            <input type="number" [(ngModel)]="editingTour.duration" class="form-control" name="duration"
            #duration="ngModel" required/>
            <div *ngIf="duration.errors && duration.dirty"
            class="alert alert-danger">
           <div [hidden]="!duration.errors.required">
              duration is required.
           </div> 
       </div>
        </td>
        <td>
          <input type="text" [(ngModel)]="editingTour.description" class="form-control" name="description"
           #description="ngModel" required/>
           <div *ngIf="description.errors && description.dirty"
           class="alert alert-danger">
          <div [hidden]="!description.errors.required">
              description is required.
          </div> 
      </div>
      </td>
      <td>
        <input type="number" [(ngModel)]="editingTour.cost" class="form-control" name="cost" style="width: 80px"
         #cost="ngModel" required/>
         <div *ngIf="cost.errors && cost.dirty"
           class="alert alert-danger">
          <div [hidden]="!cost.errors.required">
              cost is required.
          </div> 
          <!-- <div [hidden]="!cost.errors.min">
              Min range is -180.
          </div> 
          <div [hidden]="!cost.errors.max">
              Max range is 180.
          </div> -->
      </div>
    </td>
    <td>
            <select class="form-control" name="hotel"
            [compareWith]="compareFn" [(ngModel)]="editingTour.hotel" style="width: 150px">
              <option *ngFor="let hotel of hotels" [ngValue]="hotel">{{hotel.name}}</option>
            </select>
    </td>
     <td>
            <select class="form-control" name="country" [compareWith]="compareFn"
             [(ngModel)]="editingTour.country" style="width: 150px">
              <option *ngFor="let country of countries" [ngValue]="country" >{{country.name}}</option>
            </select>
    </td>

        <td>
        <select [(ngModel)]="editingTour.tour_type" class="form-control" name="tour_type" style="width: 200px">
          <option *ngFor="let tour_type of keys()" [value]="tour_type" >{{tour_type}}</option>
        </select>
      </td>
        <td>
      <span class="edit-actions" style="cursor: pointer">        
                <a (click)="createTour(editingTour)" >
                  <i class="material-icons">done</i>
                </a>
              </span>
          </td>
          <td>
      <span class="edit-actions" style="cursor: pointer">
            <a (click)="clearEditing()">
              <i class="material-icons">clear</i>
            </a>
        </span>
          </td>    
    </ng-template>

    <div class="no-entities" *ngIf="tours?.length==0">
        <p>No entities Found!</p>
    </div>
</div>
